
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
  background-color: #97A0B2;
}

.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  margin-left: 165px;
  margin-right: 165px;
  color: white;
  font-family: "Inter";
  font-weight: 300;
  font-size: 20px;
}

.section-links {
  display: flex;
  flex: space-between;
  gap: 64px;
}
